@font-face {
  font-family: 'Open Sauce';
  src: url('fonts/OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce';
  src: url('fonts/OpenSauceOne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
 body{
    background-color: #abbfea;
 }

.image-container{
    top: 10%;
}

.background-image {
  width: 1420px;
  height: 900px;
  display: block;
  position: fixed;
}

/* MENU */
#skyfit-title{
    width: auto;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 25px;
}

.navbar {
  background-color: #0d2390;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0px;
  left: 0px;
  width: 1420px;
  height: 85px;
  position: fixed;
  z-index: 2000;
}

.nav-links {
  list-style: none;
  font-family: 'Open Sauce', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #9cb0e9;
  display: flex;        
  gap: 30px;            
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #9cb0e9;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.nav-links li a:hover {
  background-color: #4c61b4; 
  border-radius: 4px;
}

/* LIBRARY */
#sentence-login{

    font-family: 'Open Sauce', sans-serif;
    font-weight: bolder;
    color: #0d2390;
    align-items: center;
    
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 100px;               /* Move closer to the top */
    left: 50%;
    transform: translateX(-50%);
    background: #abbfea;
    padding: 30px;
    border-radius: 8px;
    width: 1410px;
    height: 900px;
    text-align: center;
}

/* SIGN-UP */

.popup-overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.popup-content2 {
    position: fixed;
    top: 100px;               /* Move closer to the top */
    left: 50%;
    transform: translateX(-50%);
    background: #abbfea;
    padding: 30px;
    border-radius: 8px;
    width: 1410px;
    height: 900px;
    text-align: center;
}


.signup-title{
    font-family: 'Open Sauce', sans-serif;
    font-weight: bold;
    color: #0d2390;
    text-align: left;
    margin-left: 30px; 
    margin-top: 30px; 
    font-size: 45px;
}

::placeholder {
  color: #5d74b6;
}

.firstname-signup-align {
  background-color: #0d2390;
  color: #abbfea;
  font-family: 'Open Sauce', sans-serif;
  height: 70px;
  width: 600px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px;
  text-align: left;
  margin-left: -40px; 
  margin-top: 20px; 
  padding-left: 20px;
}

.lastname-signup-align {
  background-color: #0d2390;
  color: #abbfea;
  font-family: 'Open Sauce', sans-serif;
  height: 70px;
  width: 600px;  
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px;
  text-align: left;
  margin-left: 50px; 
  margin-top: 20px; 
  padding-left: 20px;
}

.name-signup-align{
  background-color: #0d2390;
  color: #abbfea;
  font-family: 'Open Sauce', sans-serif;
  height: 70px;
  width: 600px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px;
  text-align: left;
  margin-left: -40px; 
  margin-top: 40px; 
  padding-left: 20px;
}

.password-signup-align{
  background-color: #0d2390;
  color: #abbfea;
  font-family: 'Open Sauce', sans-serif;
  height: 70px;
  width: 600px;  
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px;
  text-align: left;
  margin-left: 50px; 
  margin-top: 40px; 
  padding-left: 20px;
}


/* DROPDOWN SIGN-UP */

.dropbtn {
  border: none;
  cursor: pointer;
  background-color: #0d2390;
  color: #abbfea;
  height: 50px;
  width: 150px;
  font-family: 'Open Sauce', sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: 40px;
}

#sign-btn {
    border: none;
    cursor: pointer;
    background-color: #6a81e0;
    color: #abbfea;
    height: 70px;
    width: 300px;
    font-family: 'Open Sauce', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
}

/* LOG-IN SCREEN */

.popup-overlay3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.popup-content3 {
    position: fixed;
    top: 100px;               /* Move closer to the top */
    left: 50%;
    transform: translateX(-50%);
    background: #abbfea;
    background-image: url("images/PROFILE.png");
    background-repeat: no-repeat;
    background-position: center -95px;
    padding: 30px;
    border-radius: 8px;
    width: 1410px;
    height: 900px;
    text-align: center;
}

#login-title{

    font-family: 'Open Sauce', sans-serif;
    font-weight: bolder;
    color: #0d2390;
    align-items: center;

}

.name-login-align{
    background-color: #0d2390;
    color: #abbfea;
    font-family: 'Open Sauce', sans-serif;
    height: 40px;
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px;
    padding: 10px;
    margin-top: 20px;     /* Moves down */
    margin-left: 600px;    /* Moves right */
}

.password-login-align{
    background-color: #0d2390;
    color: #abbfea;
    font-family: 'Open Sauce', sans-serif;
    height: 40px;
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px;
    padding: 10px;
    margin-top: 10px;     /* Moves down */
    margin-left: 600px;    /* Moves right */
}

#login-btn {
    border: none;
    cursor: pointer;
    background-color: #6a81e0;
    color: #abbfea;
    height: 50px;
    width: 150px;
    font-family: 'Open Sauce', sans-serif;
    font-weight: bold;
    font-size: medium;
    margin-left: 685px;    /* Moves right */

}

#logout-btn{
    border: none;
    cursor: pointer;
    background-color: #0d2390;
    color: #abbfea;
    height: 50px;
    width: 150px;
    font-family: 'Open Sauce', sans-serif;
    font-weight: bold;
    font-size: medium;
    transform: translateX(425%);
}

.message{
    font-family: 'Open Sauce', sans-serif;
    font-weight: bolder;
    color: #0d2390;
    align-items: center;
}

/* LIBRARY */
#workout-routine{
    font-family: 'Open Sauce', sans-serif;
    font-weight: bolder;
    color: #0d2390;
    text-align: left;
    margin-left: 30px; 
    margin-top: 30px; 
    font-size: 45px;
}

.add{
  display: flex;               
  align-items: center;      
  gap: 10px;               
  height: 10%;
  width: auto;
  border-width: 0px;
  background-color: #abbfea;
  margin-left: 12px; 
  margin-top: 90px; 
  padding: 10px;    
  cursor: pointer;           
}

.day-container {
  display: flex;
  gap: 35px; /* space between boxes */
  margin-top: 50px;
  margin-left: 50px;
}

.day-container2 {
  display: flex;
  gap: 35px; /* space between boxes */
  margin-top: 35px;
  margin-left: 50px;
}

#day1, #day2, #day3, #day4, #day5, #day6, #day7, #day8 {
  background-color: #0d2390;
  height: 200px;
  width: 300px;
  display: none;
}

#delete1, #delete2, #delete3, #delete4, #delete5, #delete6, #delete7, #delete8 {
  background-color: #0d2390;
  border-width: 0px;
  cursor: pointer;
  height: 30px;
  width: 60px;
  font-family: 'Open Sauce', sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
  margin-left: 110px;
}

#edit1, #edit2, #edit3, #edit4, #edit5, #edit6, #edit7, #edit8 {
  background-color: #0d2390;
  border-width: 0px;
  cursor: pointer;
  height: 25px;
  width: 55px;
  font-family: 'Open Sauce', sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: -40px;
  margin-left: auto;
}

#workoutTitle1, #workoutTitle2, #workoutTitle3, #workoutTitle4, #workoutTitle5, #workoutTitle6, #workoutTitle7, #workoutTitle8 {
  font-family: 'Open Sauce', sans-serif;
  color: #abbfea;
  background-color: #0d2390;
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
  border-width: 0;
}

/* Overlay background */
.edit-popup-overlay {
  position: relative; /* ✅ Add this line */
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #0d2390;
  font-family: 'Open Sauce', sans-serif;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* When .show is added, make it visible */
.edit-popup-overlay.show {
  display: flex;
  opacity: 1;
}

/* Popup content box */
.edit-popup-content {
  background: #9cb0e9;
  font-size: 25px;
  margin-top: 30px;
  font-family: 'Open Sauce', sans-serif;
  padding: 30px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Input field */
#edit-title-input {
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Open Sauce', sans-serif;
  font-weight: bold;
  background-color: #0d2390;
  color: #abbfea;
}

#new-exercise-input {
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Open Sauce', sans-serif;
  font-weight: bold;
  background-color: #0d2390;
  color: #abbfea;
}

#add-exercise {
  width: auto;
  height: 20px;
  border-width:0px;
  background-color: #9cb0e9;
  outline: none;
}

/* Save button */
.edit-popup-content button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #6a81e0;
  color: #abbfea;
  border: none;
  cursor: pointer;
}

/* Close icon */
.close2 {
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: 28px;
  cursor: pointer;
  color: #0d2390;
}

/* Add workout popup */
.add-popup-overlay {
  position: relative; /* ✅ Add this line */
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #0d2390;
  font-family: 'Open Sauce', sans-serif;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.add-popup-overlay.show {
  display: flex;
}

.add-popup-content {
  background: #9cb0e9;
  font-family: 'Open Sauce', sans-serif;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/*Name*/
#add-input {
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  font-size: 24px;
  font-family: 'Open Sauce', sans-serif;
  background-color: #0d2390;
  color: #abbfea;
  border: 1px solid #6a81e0;
}

/*Dropdowns: level, exercise, targeted muscles*/

.dropdown-overlay,.exercise-overlay, .targeted-overlay {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.dropdown-content,.exercise-content, .targeted-content {
  display: none;
  position: absolute;
  background-color: #0d2390;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  top: 100%; 
  left: 0;
  z-index: 9999;
  font-family: 'Open Sauce', sans-serif;
}

.dropdown-content a,.exercise-content a, .targeted-content a {
  color: #abbfea;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,.exercise-content a:hover, .targeted-content a:hover {  
  background-color: #6a81e0;
}

.dropbtn,.dropbtn-exercise, .dropbtn-targeted {
  border: none;
  cursor: pointer;
  background-color: #0d2390;
  color: #abbfea;
  height: 50px;
  width: 150px;
  font-family: 'Open Sauce', sans-serif;
  font-weight: bold;
  font-size: medium;
  position: relative;
  margin: 0;
}

/* Confirm button */
.confirmbtn {
  border: none;
  cursor: pointer;
  background-color: #6a81e0;
  color: #abbfea;
  height: 50px;
  width: 150px;
  font-family: 'Open Sauce', sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
}

/*Exercise found*/
#exerciseLabel1, #exerciseLabel2, #exerciseLabel3, #exerciseLabel4, #exerciseLabel5, #exerciseLabel6, #exerciseLabel7, #exerciseLabel8 {
  position: relative;
  font-family: 'Open Sauce', sans-serif;
  color: #abbfea;
  font-weight: bold;
  font-size: 15px;
  top: -10px;
  margin-left: 0px;
}

/* Close icon inside add popup */
.close {
  position: absolute;
  right: 550px;
  top: auto;
  font-size: 24px;
  cursor: pointer;
}

.close2 {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}

#exercise-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  color: #0d2390;
  font-weight: bold;
}

#exercise-list li {
  margin-bottom: 5px;
}



